/Arithmetic progress.py
/Custom separator.py
/Favorite team.py
/Greeting.py
/happy sequence.py
/hello.py
/I like Python.py
/PyProjects.Stepik
/Repeat after me.py
/Three_consecutive_numbers.py
/Практикум